#button-container {
    position:absolute;
    bottom: 5%;
    right:50%;
}

#info-hud {
	pointer-events: none;
	color: yellow;
	font-weight: bold;
	position: absolute;
	top: 5%;
	left: 5%;

	text-shadow:
	    -1px -1px 0 #000,
	    1px -1px 0 #000,
	    -1px 1px 0 #000,
	    1px 1px 0 #000;
}